.xp-bar {
    width: 80%;
    height: 14px;
    border: 2px solid #ff0000;
    margin: 15px auto;
    box-shadow: 0 0 10px #ff0000;
}

#xpFill {
    height: 100%;
    width: 0%;
    background: #ff0000;
    box-shadow: 0 0 15px #ff0000;
}

#userBadge {
    font-size: 18px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #ff0000;
}

body {
    background: #0b0000;
    color: #ff2a2a;
    font-family: Arial, sans-serif;
    text-align: center;
}

.neon-text {
    color: #ff2a2a;
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px #ff0000;
}

.auth-box {
    border: 2px solid #ff0000;
    box-shadow: 0 0 15px #ff0000;
    padding: 20px;
    width: 320px;
    margin: 20px auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
    background: #120000;
    border: 1px solid #ff0000;
    color: #ff2a2a;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 95%;
    background: transparent;
    border: 2px solid #ff0000;
    color: #ff2a2a;
    cursor: pointer;
    box-shadow: 0 0 10px #ff0000;
}

button:hover {
    background: #ff0000;
    color: black;
}

p {
    color: #ffaaaa;
}
